<div class="container">

  <div class="container text-center title">
    <h3>Inventory Management System</h3>
  </div>
  
  <table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>USD {{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.type.name }}</td>
      </tr>
    </tbody>
  </table>

</div>
