<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head('Inicio')}"></head>
<body>
<div class="container">
    <div th:replace="~{common/navbar :: navbar}"></div>
    <!-- Title -->
    <div class="text-center" style="margin: 50px;">
        <h1>Sistema de Gestión de Contactos</h1>
    </div>
    <!-- Table -->
    <div class="container">
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead class="table-dark text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Fono</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contactList}">
                <th th:text="${contact.id}" scope="row"></th>
                <td th:text="${contact.firstName}"></td>
                <td th:text="${contact.lastName}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${contact.phone}"></td>
                <td>(Botones para editar y eliminar)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{common/footer :: footer}"></div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>