<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Footer -->
<div th:fragment="footer" th:remove="tag">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
            <span class="text-muted">Potenciado por la tecnología de <a href="https://getbootstrap.com/"
                                                                        class="text-muted">Bootstrap</a></span>
            </div>
        </footer>
    </div>
</div>
</body>
</html>