<!-- Footer -->
<div class="container">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
          <span class="text-muted">
            Powered by the technology of
            <a href="https://getbootstrap.com/" class="text-muted">Bootstrap</a>,
            <a href="https://angular.io/" class="text-muted">Angular</a> and
            <a href="https://spring.io/" class="text-muted">Spring</a>.
          </span>
      </div>
  </footer>
</div>